body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("https://preview.redd.it/pentastic-custom-pointers-v0-4g2sxhnmdcx91.png?width=640&crop=smart&auto=webp&s=d0cd7a69e0076d50d76c3e97648c12cbd104e877"),
    pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
